<!-- Modificación de Infantiles -->
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Humorous</title>
    </head>
    <body> 
        <header th:replace="layout/plantilla :: header"/> 
        <div class="contenido"> 
            <h2>Información de Infantil</h2> 
            <a th:href="@{/infantil/listado/}">Regresar</a> 
            <hr/> 
            <form th:action="@{/infantil/guardar}" 
                  method="post" 
                  th:object="${infantil}"> 
                <input type="hidden" name="CodigoInfantil" th:field="*{CodigoInfantil}"/>   
                   <fieldset> 
                        <label for="nombre_infantil">Nombre</label> 
                        <textarea name="nombre_infantil" th:field="*{nombre_infantil}" rows="6" cols="50"/> 
                    </fieldset>  
                
                    <fieldset> 
                    <label for="descripcion">Descripción</label> 
                    <input type="text" name="descripcion" th:field="*{descripcion}"/> 
                    </fieldset>
                
                    <fieldset> 
                        <label for="marca_infantil">Marca</label> 
                        <textarea name="marca_infantil" th:field="*{marca_infantil}" rows="6" cols="50"/> 
                    </fieldset>
                
                    <fieldset> 
                        <label for="color_infantil">Color</label> 
                        <textarea name="color_infantil" th:field="*{color_infantil}" rows="6" cols="50"/> 
                    </fieldset>
                    
                    <fieldset> 
                        <label for="cantidad_infantil">Cantidad</label> 
                        <input type="number" name="cantidad_infantil" th:field="*{cantidad_infantil}"/> 
                    </fieldset> 
                    
                    <fieldset> 
                        <label for="precio_infantil">Precio</label> 
                        <input type="number" name="precio_infantil" th:field="*{precio_infantil}"/> 
                    </fieldset> 
                
                    <fieldset> 
                        <label for="activo">Activo</label> 
                        <input type="checkbox" name="activo" th:field="*{activo}"/> 
                    </fieldset> 
                    <hr/> 
                    <input type="submit" value="Guardar" name="guardar"/>             
            </form>            
        </div> 
      
        <footer th:replace="layout/plantilla :: footer"/> 
    </body> 
</html> 